body    { font-family: Helvetica Neue, Arial, sans-serif;
          font-size: 1.5em; }

#schedule
        { font-size: 1em; }

select  {   -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 5px 25px; }

button  { padding: 5px 15px; }

.bold   { font-weight: bold; }

.option { font-size: 2em; }
