body    { font-family: Helvetica Neue, Arial, sans-serif;
          font-size: 1.5em; background-color: #F5F5F5; }

h1      { font-size: 1.5em; margin-bottom: 10px; }

.box    { border-radius: 11px; border: 1px solid black; 
          padding: 4px; margin-bottom: 6px; }

#schedule
        { font-size: 1em; }

select  {   -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 5px 25px; }

button  { padding: 5px 15px; }

.bold   { font-weight: bold; }

.option { font-size: 2em; }
